<div style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display: flex;padding-top: 20px">
        <div><strong>Môn học:</strong> Trực quan hóa dữ liệu</div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Lớp:</strong> 22KHDL</div>
        <div></div>
    </div>
    <div>
        <div style="display: flex;padding-top: 20px">
            <div style="padding-right: 10px;"><strong>Thành viên:</strong></div>
            <div></div>
        </div>
        <table style="font-size: 15px; display:flex;padding-top: 20px">
            <tr>
                <th>No.</th>
                <th>Student ID</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>22127008</td>
                <td style="text-align:left;">Đặng Châu Anh</td>
            </tr>
            <tr>
                <td>2</td>
                <td>22127014</td>
                <td style="text-align:left;">Nguyễn Kim Anh</td>
            </tr>
            <tr>
                <td>4</td>
                <td>22127170</td>
                <td style="text-align:left;">Trần Dịu Huyền</td>
            </tr>
        </table>
    </div>
    <div style="font-size: 25px ;font-weight: 800; text-align: center;padding-top: 20px;">LAB 02</div>
    <div style="font-size: 20px ;font-weight: 800; text-align: center;padding-top: 20px;">KHAI THÁC VÀ TRỰC QUAN HÓA DỮ LIỆU</div>
</div>

# **Mục lục**

- [**Giới thiệu**](#intro)
    - [Mục tiêu đồ án](#objectives)
    - [Thông tin dữ liệu](#data)
- [**Thư viện sử dụng**](#packages)
- [**Thu thập dữ liệu**](#collect)
- [**Khám phá dữ liệu**](#eda)
    - [Tổng quan về dữ liệu](#eda1)
    - [EDA và tiền xử lí dữ liệu](#eda2)
        - [Thống kê mô tả](#eda21)
        - [Phân bố của dữ liệu dạng số](#eda22)
        - [Phân bố của dữ liệu dạng phân loại](#eda23)
    - [EDA và tiền xử lí dữ liệu](#eda3)
- [**Phân tích dữ liệu và trực quan hóa**](#analysis)
    - [1. Mức độ ảnh hưởng của thể loại âm nhạc đến sự thịnh hành của bài hát](#a1)
        - [1.1. Các thể loại nhạc nào thịnh hành nhất ở Việt Nam](#a11)
        - [1.2. Sự hiện diện của các thể loại âm nhạc trên thị trường âm nhạc Việt Nam](#a12)
    - [2. Nhạc Việt hay Nhạc Ngoại: Tổng quan thị trường nhạc Việt hiện nay?](#a2)
    - [3. Thời lượng như thế nào là tối ưu hiện tại?](#a3)
    - [4. Nghệ sĩ nào đang thống trị thị trường âm nhạc Việt Nam?](#a4)
        - [4.1. Nhạc Việt và nhạc ngoại: Xu hướng nghe nhạc nhghieeng về bên ngào ở thời điểm hiện tại? Và các nghệ sĩ nào đang thống trị nền âm nhạc?](#a41)
    - [5. Colab hay Solo: Đâu là xu hướng hiện nay?](#a5)
        - [5.1. So sánh giữa số lượng bài hát solo và bài hát hợp tác trên bảng xếp hạng](#a51)
        - [5. 2. Có phải nghệ sĩ càng nổi tiếng thì càng nhiều người muốn hợp tác không?](#a52)
    - [6. Xô đổ kỉ lục có khó không: Có phải càng về sau, thời gian để bức phá tiến vào bảng xếp hạng càng rút ngắn?](#a6)
- [**Kết luận**](#conclusion)
- [**Trích dẫn**](#references)

<a id="intro"></a>
# **I. Giới thiệu**

<a id="objectives"></a>
## **1. Mục tiêu phân tích:**

Từ nguồn World Development Indicators của World Bank, nhóm quyết định sẽ phân tích về chủ đề "Tình hình kinh tế - xã hội Việt Nam qua các năm (2011 - 2023)", từ đó đưa ra bức tranh toàn cảnh về tình hình kinh tế - xã hội của Việt Nam thông qua các nhận xét được đưa ra từ việc phân tích.

Sở dĩ nhóm chọn chủ đề này vì nhóm muốn xem xét kể từ Đại hội Đại biểu toàn quốc lần thứ XI của Đảng (2011) đến năm cuối cùng dữ liệu được cập nhật hiện tại (2023), nước ta đã có những thay đổi, tiến bộ như thế nào trong các lĩnh vực kinh tế - xã hội. Các chiến lược được đề ra đã thực sự đem lại hiệu quả hay chưa, từ đó đưa ra những nhận xét, đánh giá và đề xuất giải pháp phù hợp cho tương lai.

<a id="data"></a>
## **2. Thông tin dữ liệu:**

<a id="packages"></a>
# **II. Thư viện sử dụng**

In [1]:
import pandas as pd
import numpy as np

<a id="collect"></a>
# **III. Thu thập dữ liệu**

Để phục vụ mục tiêu phân tích nhóm quyết định sẽ lấy các dữ liệu như sau từ World Development Indicators (WDI) và World Bank Open Data:
- Quốc gia - `Country`: Viet Nam
- Chỉ số - `Series`:
    + 1. GDP (current US$)
    + 2. GDP per capita (current US$)
    + 3. Agriculture, forestry, and fishing, value added (% of GDP)
    + 4. Manufacturing, value added (% of GDP)
    + 5. Industry (including construction), value added (% of GDP)
    + 6. Services, value added (% of GDP)
    + 7. Imports of goods and services (constant 2015 US$)
    + 8. Imports of goods and services (current US$)
    + 9. Exports of goods and services (constant 2015 US$)
    + 10. Exports of goods and services (current US$)
    + 11. Foreign direct investment, net inflows (BoP, current US$)
    + 12. Consumer price index (2010 = 100)
    + 13. Inflation, consumer prices (annual %)
    + 14. Population, total
    + 15. Population ages 0-14, total
    + 16. Population ages 15-64, total
    + 17. Population ages 65 and above, total
    + 18. Unemployment, total (% of total labor force) (national estimate)
    + 19. International tourism, number of arrivals
    + 20. International tourism, expenditures (current US$)
    + 21. Carbon dioxide (CO2) emissions from Agriculture (Mt CO2e)
    + 22. Carbon dioxide (CO2) emissions from Building (Energy) (Mt CO2e)
    + 23. Carbon dioxide (CO2) emissions from Fugitive Emissions (Energy) (Mt CO2e)
    + 24. Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)
    + 25. Carbon dioxide (CO2) emissions from Industrial Processes (Mt CO2e)
    + 26. Carbon dioxide (CO2) emissions from Power Industry (Energy) (Mt CO2e)
    + 27. Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e)
    + 28. Carbon dioxide (CO2) emissions from Waste (Mt CO2e)
    + 29. Carbon dioxide (CO2) emissions (total) excluding LULUCF (Mt CO2e)
- Thời gian - `Year`: 2011 - 2023

<a id="eda"></a>
# **IV. EDA - Tiền xử lí**

Đầu tiên chúng ta sẽ đọc file dữ liệu và xem qua các thông tin cơ bản của dữ liệu.

In [2]:
raw_df = pd.read_csv('./data/data_only.csv')
raw_df.head()

,Country Name,Country Code,Series Name,Series Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Viet Nam,VNM,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,1.625915e+01,1.619951e+01,1.521561e+01,1.488035e+01,1.447473e+01,1.381826e+01,1.292988e+01,1.230667e+01,1.178453e+01,1.265540e+01,12.6030904652746,11.9555291630892,11.9604858170749
1,Viet Nam,VNM,GDP per capita (current US$),NY.GDP.PCAP.CD,1.950925e+03,2.185118e+03,2.359517e+03,2.546385e+03,2.577569e+03,2.735060e+03,2.956110e+03,3.222310e+03,3.440900e+03,3.534040e+03,3704.1935590038,4116.38576094153,4282.08851724506
2,Viet Nam,VNM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,1.869415e+01,2.027409e+01,2.068745e+01,2.037123e+01,2.096009e+01,2.148825e+01,2.262712e+01,2.336717e+01,2.378672e+01,2.394724e+01,24.4593726835113,24.5795734424262,23.8827677952544
3,Viet Nam,VNM,"Services, value added (% of GDP)",NV.SRV.TOTL.ZS,3.890701e+01,3.911884e+01,4.054201e+01,4.092361e+01,4.219301e+01,4.285449e+01,4.258072e+01,4.217092e+01,4.246872e+01,4.183116e+01,41.2574400803722,41.3223541577905,42.5369982260521
4,Viet Nam,VNM,GDP (current US$),NY.GDP.MKTP.CD,1.725950e+11,1.955907e+11,2.137088e+11,2.334515e+11,2.392583e+11,2.570960e+11,2.813536e+11,3.101065e+11,3.343653e+11,3.466157e+11,366474752771.009,410324028883.325,429716969043.572

<a id="eda1"></a>
## **1. Tổng quan về dữ liệu**

Ở phần này thì chúng ta sẽ khám phá về cấu trúc của dữ liệu. Đầu tiên, chúng ta sẽ kiểm tra số dòng và số cột của dữ liệu.

**Kích thước dữ liệu:**

In [3]:
print(f"Number of rows: {raw_df.shape[0]}")
print(f"Number of columns: {raw_df.shape[1]}")

Number of rows: 34
Number of columns: 17

Dữ liệu đáng ra có số dòng tương ứng với số chỉ số quyết định lấy và số cột tương ứng với thông tin dữ liệu (Tên nước - `Country Name`, mã nước - `Country Code`, tên chỉ số - `Series Name` và mã của chỉ số - `Series Code`) và các năm từ 2011 đến 2023.

Tuy nhiên, số dòng lại lớn hơn số chỉ số quyết định lấy (29 chỉ số) vì mỗi chỉ số lại có nhiều năm tương ứng. Vì vậy, chúng ta sẽ kiểm tra lại ở các phần sau.

Tiếp theo, chúng ta sẽ kiểm tra xem kiểu dữ liệu của các cột trong dữ liệu để biết được cần phải xử lí kiểu dữ liệu của các cột nào trong dữ liệu ở phần tiền xử lí.

**Kiểu dữ liệu của các cột:**

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   31 non-null     object
 1   Country Code   29 non-null     object
 2   Series Name    29 non-null     object
 3   Series Code    29 non-null     object
 4   2011 [YR2011]  29 non-null     float64
 5   2012 [YR2012]  29 non-null     float64
 6   2013 [YR2013]  29 non-null     float64
 7   2014 [YR2014]  29 non-null     float64
 8   2015 [YR2015]  29 non-null     float64
 9   2016 [YR2016]  29 non-null     float64
 10  2017 [YR2017]  29 non-null     float64
 11  2018 [YR2018]  29 non-null     float64
 12  2019 [YR2019]  29 non-null     float64
 13  2020 [YR2020]  29 non-null     float64
 14  2021 [YR2021]  29 non-null     object
 15  2022 [YR2022]  29 non-null     object
 16  2023 [YR2023]  29 non-null     object
dtypes: float64(10), object(7)
memory usage: 4.6+ KB

**Thông tin về các cột trong dữ liệu**

Chúng ta có 16 cột trong dữ liệu, với tất cả các cột đều có kiểu dữ liệu khác nhau:
Ý nghĩa của các cột trong dữ liệu như sau:
| Tên cột     | Ý nghĩa                           | Kiểu dữ liệu       |
|-----------------|---------------------------------------|-----------------|
| Country Name   | Tên quốc gia                         | object          |
| Country Code   | Mã quốc gia                          | object          |
| Series Name    | Tên chỉ số                          | object          |
| Series Code    | Mã chỉ số                           | object          |
| 2011 [YR2011]  | Dữ liệu năm 2011                     | float64         |
| 2012 [YR2012]  | Dữ liệu năm 2012                     | float64         |
| 2013 [YR2013]  | Dữ liệu năm 2013                     | float64         |
| 2014 [YR2014]  | Dữ liệu năm 2014                     | float64         |
| 2015 [YR2015]  | Dữ liệu năm 2015                     | float64         |
| 2016 [YR2016]  | Dữ liệu năm 2016                     | float64         |
| 2017 [YR2017]  | Dữ liệu năm 2017                     | float64         |
| 2018 [YR2018]  | Dữ liệu năm 2018                     | float64         |
| 2019 [YR2019]  | Dữ liệu năm 2019                     | float64         |
| 2020 [YR2020]  | Dữ liệu năm 2020                     | float64         |
| 2021 [YR2021]  | Dữ liệu năm 2021                     | float64         |
| 2022 [YR2022]  | Dữ liệu năm 2022                     | float64         |
| 2023 [YR2023]  | Dữ liệu năm 2023                     | float64         |

Vậy cũng có nghĩa là, mỗi hàng trong dữ liệu sẽ chứa thông tin về một chỉ số khác nhau của bộ dữ liệu và giá trị của chỉ số đó từ năm 2011 đến 2023.

## **2. Kiểm tra dữ liệu bị thiếu**

Ở phần này, chúng ta sẽ kiểm tra xem dữ liệu có bị thiếu không, nếu có thì chúng ta sẽ xử lí dữ liệu bị thiếu ở phần tiền xử lí để làm sạch dữ liệu.

In [5]:
print('Giá trị thiếu trong mỗi cột:')
print(raw_df.isnull().sum())

Giá trị thiếu trong mỗi cột:
Country Name     3
Country Code     5
Series Name      5
Series Code      5
2011 [YR2011]    5
2012 [YR2012]    5
2013 [YR2013]    5
2014 [YR2014]    5
2015 [YR2015]    5
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
2021 [YR2021]    5
2022 [YR2022]    5
2023 [YR2023]    5
dtype: int64

Các dữ liệu bị thiếu có vẻ đồng đều về số lượng, không quá nhiều, chúng ta sẽ xử lí sau.

## **3. Kiểm tra dữ liệu bị trùng**

Ở phần này, chúng ta sẽ kiểm tra xem dữ liệu có bị trùng không, nếu có thì chúng ta sẽ xóa dữ liệu trùng.

In [6]:
print('Dữ liệu trùng lặp:')
print(raw_df.duplicated().sum())

Dữ liệu trùng lặp:
2

Không may là chúng ta có 2 dữ liệu trùng lặp. Nhưng mỗi mẫu tương ứng với một chỉ số khác nhau nên chúng ta sẽ xem xét các giá trị khác nhau ở mỗi trường dữ liệu.

In [7]:
for col in raw_df.columns:
    print(f"{col}: {raw_df[col].nunique()} giá trị khác nhau")

Country Name: 3 giá trị khác nhau
Country Code: 1 giá trị khác nhau
Series Name: 29 giá trị khác nhau
Series Code: 29 giá trị khác nhau
2011 [YR2011]: 29 giá trị khác nhau
2012 [YR2012]: 29 giá trị khác nhau
2013 [YR2013]: 29 giá trị khác nhau
2014 [YR2014]: 29 giá trị khác nhau
2015 [YR2015]: 27 giá trị khác nhau
2016 [YR2016]: 29 giá trị khác nhau
2017 [YR2017]: 29 giá trị khác nhau
2018 [YR2018]: 29 giá trị khác nhau
2019 [YR2019]: 29 giá trị khác nhau
2020 [YR2020]: 29 giá trị khác nhau
2021 [YR2021]: 28 giá trị khác nhau
2022 [YR2022]: 28 giá trị khác nhau
2023 [YR2023]: 28 giá trị khác nhau

Chúng ta có 29 chỉ số khác nhau về 1 quốc gia, nên `Country Code` chỉ có 1 giá trị khác nhau và `Series Name`, `Series Code` có 29 giá trị khác nhau là bình thường. Tương tự, với các năm: 2011 - 2014, 2016 - 2020 có 29 giá trị khác nhau là bình thường.

Ngược lại với các năm 2015 và 2021 - 2023, chúng ta có 28 giá trị khác nhau, đây có thể là giá trị bị thiếu chúng ta đã kiểm tra ở trên. Chúng ta sẽ xử lí nó sau. Nhưng điều khó hiểu là `Country Code` chỉ có 1 giá trị khác nhau mà `Country Name` lại có 3 giá trị khác nhau. Chúng ta sẽ kiểm tra xem `Country Name` có các giá trị khác nhau nào?

In [8]:
raw_df['Country Name'].value_counts()

Country Name
Viet Nam                                            29
Data from database: World Development Indicators     1
Last Updated: 01/28/2025                             1
Name: count, dtype: int64

Vậy là ngoại trừ Việt Nam xuất hiện 29 mẫu, còn có 2 giá trị của trường `Country Name` không phải là nước mà là thông tin của bộ dữ liệu, chúng ta sẽ kiểm tra xem 2 mẫu chứa 2 giá trị này là gì?

In [9]:
raw_df[raw_df['Country Name'] != 'Viet Nam']

,Country Name,Country Code,Series Name,Series Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Last Updated: 01/28/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Xem ra là đây có thể là những mẫu thông tin gây ra các dữ liệu thiếu và trùng lặp. Chúng ta sẽ xử lí nó ở phần sau đây.

## **4. Xử lí dữ liệu bị thiếu và trùng lặp**